{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            {{ if .Site.Params.contact.address }}
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-building fa-3x wow bounceIn"></i>
                <p>{{ .Site.Params.contact.address }}<br/>
                {{ if .Site.Params.contact.address_line2 }}
                {{ .Site.Params.contact.address_line2 }}</p>
                {{ end }}
            </div>
            {{ end }} 
            {{ if .Site.Params.contact.phone }}
                <div class="
                {{ if .Site.Params.contact.email }}
                    col-lg-4
                {{ else }}
                    col-lg-8
                {{ end }}
                col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>{{ .Site.Params.contact.phone }}</p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <div class=" col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.twitter }}
                <div class="col-lg-4 text-center">
                    <i class="fa fa-twitter-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://twitter.com/{{ .Site.Params.contact.twitter }}">@{{ .Site.Params.contact.twitter }}</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.facebook }}
                <div class="col-lg-4 text-center">
                    <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://twitter.com/{{ .Site.Params.contact.twitter }}">@{{ .Site.Params.contact.twitter }}</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.mailing_list }}
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="{{ .Site.Params.contact.mailing_list }}">Announcements and discussion mailing list</a></p>
                </div>
            {{ end }}
        </div>
    </div>
</section>
